@import url('https://fonts.cdnfonts.com/css/gilroy-bold');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Gilroy', sans-serif;
}

.header {
    display: flex;
    position: fixed;
    background: #FFF;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1.3px solid rgb(177, 176, 176);
    font-family: 'Gilroy', sans-serif;

}

.header .box1 {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;
    padding: 10px;

}

.head-image {
    display: flex;
    width: 40px;
    height: 50px;
    flex-shrink: 0;
    position: relative;
}

.vector {
    position: absolute;
    margin-top: 1.1%;
    top: 5%;
    left: 6.2%;
    width: 20px;
    height: 3px;
}

.title-name {
    align-items: center;
    justify-content: center;
    width: 36%;
    padding: 0px;
    font-size: 18px;
    margin: 0px;
    margin-left: 2px;

}

/* .title-name img{
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
} */
.header .box2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 6px;
    width: 50%;
    padding: 10px;

}

.box2 .link {
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 0px;
    margin: 0px;
}

a {
    color: rgb(0, 0, 0);
    cursor: pointer;
    text-decoration: none;

}

a:hover {
    color: rgb(0, 185, 0);
    transition: 0.4s;
    transform: 0.5s;
    height: 10%;
    padding: 0px 10px;
}

a:active {
    color: aqua;
}

button {
    padding: 12px 20px;
    border-radius: .6rem;
    border: none;
    font-size: 18px;
    color: #000;
    font-family: 'Gilroy', sans-serif;
    background-color: rgb(0, 185, 0);
}

button:hover {
    cursor: pointer;
    background-color: chartreuse;
}

button:active {
    color: rgb(255, 208, 0);
    border: 2px solid rgb(255, 208, 0);

}

.menu-icon {
    display: none;
    margin: 15px 0px;
    font-size: 27px;
}

.menu-icon:hover {
    cursor: pointer;
    transition: 0.3s;
    color: rgb(0, 255, 115);
}

.body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 95%;
    gap: 3rem;
    margin-top: 10%;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}

.text {
    display: flex;
    flex-direction: column;
    width: 600px;
}

.image {
    display: flex;
    width: 500px;
    align-items: center;
    justify-content: center;
}

.image img {
    height: 100%;
    width: 100%;
}

.download {
    color: black;
    font-size: 60.73px;
    font-weight: 800;
    line-height: 65.91px;
    word-wrap: break-word;
    width: 90%;
    margin: 4% 0px;
}

.line {
    color: #9E9DA2;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    word-wrap: break-word;
    margin-top: 2%;
    width: 100%;
}

.down {
    display: flex;
    margin: 20px 8px;
    color: #FFF;
    font-size: 24.601px;
    font-style: normal;
    font-weight: 800;
    line-height: 0px;
    /* 0% */
}

.sss-box {
    display: flex;
    border-radius: 5px;
    margin-top: 8%;
    width: 10%;
}

.btn {
    display: flex;
    padding: 12px 40px;
    border-radius: .5rem;
    border: none;
    font-size: 18px;
    flex-direction: row;
    background-color: #000;
    font-family: 'Gilroy', sans-serif;
}

.main-box {
    width: 60%;
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.abs-box {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    margin-top: 5%;
    background-color: green;
    align-items: center;
    padding: 3% 0px;
    justify-content: center;
    border-radius: .6rem;
}

.abc-box {
    display: flex;
    margin-right: 2%;
    align-items: center;
    justify-content: center;
    width: 19%;
    color: #FFF;
    font-family: 'Gilroy';
    font-size: 24.601px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    /* 113.818% */
}

.abc-box1 {
    display: flex;
    align-items: center;
    margin-left: 3%;
    width: 35%;
    height: 70px;
    margin-right: 1%;
    border-radius: .2rem;
    background-color: #FFF;
    font-size: 22px;
    line-height: 58px;
    /* 113.818% */
    color: rgb(185, 183, 183);

}

.abc-box1 input {
    width: 100%;
    height: 100%;
    font-size: 20px;

}

.abc-box1 input::placeholder {
    padding-left: 3rem;
    font-size: 20px;
}

.text-name {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2%;
    justify-content: center;
    margin: 7% 0% 2% 0%;
    width: 100%;
    color: #000;
    font-size: 46.386px;
    font-style: normal;
    font-weight: 800;
    line-height: 50.346px;
    /* 108.537% */

}

.tere {
    color: #75BF7A;
    font-family: 'Gilroy';
    font-size: 46.386px;
    font-style: normal;
    font-weight: 800;
    line-height: 50.346px;
}

.abc-text {
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
}

.abc-text .pera {
    color: #9E9DA2;
    text-align: center;
    font-family: 'Gilroy';
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    /* 113.043% */
}

.main-cont {
    display: flex;
    margin: 6% 0%;
    gap: 2%;
    flex-wrap: wrap;
    width: 80%;

}

.cont-box {
    display: flex;
    flex-wrap: wrap;
    width: 25%;
}

.cont-box1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 46%;
}

.box-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 98%;
    height: 75%;
    flex-shrink: 0;
    border-radius: 400px;
    background: #75BF7A;

}

.cont-box2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 25%;
}

.circle-box {
    display: flex;
    margin-top: 5%;
    width: 100%;
}

.circle-box .two {
    margin: 0.8% 0px 0px 1.5%;
    color: #75BF7A;
    position: absolute;
    font-size: 34.108px;
    font-style: normal;
    font-weight: 800;
    line-height: 37.019px;
    /* 108.537% */
}

.box-text2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 800;
    line-height: 50.346px;
}

.box-text8 {
    display: flex;
    width: 100%;
    color: #9E9DA2;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}

.cont-box svg {
    margin-top: 12px;
}

.circle {
    display: flex;
    margin-top: 5%;
    justify-content: end;
    width: 100%;
}

.one {
    color: #75BF7A;
    position: absolute;
    font-size: 34.108px;
    margin: 1.7% 1.7%;
    font-style: normal;
    font-weight: 800;
    line-height: 37.019px;
    /* 108.537% */
}

.box-text {
    display: flex;
    justify-content: end;
    width: 100%;
    color: #000;
    text-align: right;
    font-family: Gilroy;
    font-size: 22px;
    font-style: normal;
    font-weight: 800;
    line-height: 40.346px;
    /* 228.847% */
}

.box-text1 {
    display: flex;
    justify-content: end;
    width: 100%;
    color: #9E9DA2;
    text-align: right;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    /* 130% */
}

.x-text {
    display: flex;
    margin: 5%;
    /* padding-bottom: 5px; */
    color: #75BF7A;
    font-size: 46.386px;
    font-style: normal;
    font-weight: 800;
    line-height: 50.346px;
    /* 108.537% */
}

.x-text div {
    display: flex;
    margin-left: 3%;
    color: #000;
    font-size: 46.386px;
    font-style: normal;
    font-weight: 800;
    line-height: 50.346px;
}

.large-box {
    display: flex;
    width: 70%; 
    gap: 2%; 
    margin-bottom: 4%;
    border-radius: 10px;
    background: #FFF;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.large-box2{
    display: none;
    gap: 3%; 

}

.large-box .small-box1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 49%;
}

.large-box .small-box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    width: 49%;
}

.number {
    display: flex;
    color: #75BF7A;
    font-size: 78px;
    margin: 0px 1% 0px 5%;
    font-style: normal;
    font-weight: 500;
    line-height: 118.8px;
    /* 135% */
}

.no-text {
    display: flex;
    color: #000;
    margin: 5.6% 0% 0% 3%;
    font-size: 23.943px;
    font-style: normal;
    font-weight: 600;
    line-height: 32.5px;
    /* 95.749% */
}

.y-text {
    display: flex;
    margin: 0% 0% 0% 5%;
    color: #9E9DA2;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    /* 104.545% */
}

.main-cont1 {
    display: none;
    width: 88%;
    margin-top: 3rem;
    margin-bottom: 2rem;
    align-items: center;
    flex-direction: column;
}

.cont-box3 {
    width: 100%;
    height: 400px;
    padding-left: 1rem;
}

.cont-box3 .circle-box {
    height: 60px;
    align-items: center;
    display: flex;
}

.fotter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1%;
    padding: 5% 0%;
    border-top: 1.3px solid rgb(172, 170, 170);
    width: 98%;
    margin-top: 10%;
}

.foot-box {
    display: flex;
    width: 230px;
    align-items: center;
    justify-content: center;
}

.foot-box2 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.foot-box1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3%;
    flex-direction: column;
    line-height: 30px;
    width: fit-content;

}

.row1 {
    display: flex;
    color: #272042;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    padding: 4% 0%;
}

.large-box .small-box {
    width: 500px;
}

.row2 {
    display: flex;
    padding: 3% 0%;
    color: #8B8BA5;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.vect {
    position: absolute;
    margin: 0% 6.6% 1% 0%;
}

.foot-text {
    display: flex;
    color: #000;
    font-family: 'Gilroy';
    font-size: 49.493px;
    font-style: normal;
    font-weight: 500;
    margin-left: 1%;

}

.btn1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
    background-color: #000;
}

.down1 {
    color: #FFF;
    font-family: 'Gilroy';
    margin-bottom: 1%;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 0px;
    /* 0% */
}

.fotter-bar {
    display: flex;
    flex-wrap: wrap;
    padding: 1% 0%;
    width: 98%;
    border-top: 1.4px solid rgb(179, 177, 177);
    align-items: center;
    justify-content: space-around;
    color: #75BF7A;
    text-align: center;
    font-family: 'Gilroy';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    gap:3px ;
    line-height: normal;
}

@media screen and (max-width:1210px) {
    .container {
        flex-direction: column-reverse;
    }

    .text {
        width: 70%;
    }

    .image {
        width: 700px;
        height: 500px;
    }
}

@media screen and (max-width:715px) {
    .abs-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .abc-box {
        width: 70%;
        text-align: center;

    }

    .abc-box1 {
        width: 70%;
    }

    .abc-text {
        width: 70%;
    }
}

@media screen and (max-width:915px) {
    .box2 button {
        display: none;
    }

    .box2 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .text {
        width: 90%;
        text-align: center;
    }

    .circle-box .two {
        margin: 1.7% 0px 0px 3%;
    }

    .one {
        margin: 2.4% 2.5% 0px 0px;
    }

    .box-circle {
        width: 88%;
        height: 80%;
    }

    .box-circle img {
        width: 100%;
        height: 100%;
    }

    .cont-box2 {
        width: 25%;
        height: 500px;
        margin-top: 2rem;
    }

    .box-text2 {
        font-size: 17px;
        line-height: 20px;

    }

    .circle-box {
        height: 20px;
    }

    .box-text {
        font-size: 17px;
        width: 100%;
        line-height: 20px;

    }

    .box-text2 {
        font-size: 16px;
        height: 1px;
    }

    .box-text1 {
        font-size: 16px;
    }


    .box-text8 {
        font-size: 16px;
        line-height: 20px;
    }

    .image {
        width: 600px;
        height: 500px;
    }

    .download {
        color: black;
        font-size: 35.73px;
        font-weight: 700;
        line-height: 30.91px;
        word-wrap: break-word;
        width: 100%;

    }

    .line {
        color: #9E9DA2;
        font-size: 28px;
        font-weight: 500;
        line-height: 25px;
        word-wrap: break-word;
        width: 100%;
    }

    .btn {
        display: flex;
        padding: 12px 17px;
        border-radius: .5rem;
        border: none;
        flex-direction: row;
        background-color: #000;
        font-family: 'Gilroy', sans-serif;
    }

    .down {
        font-size: 18px;
    }

    .main-box {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 4rem;
    }

    .sss-box {
        display: flex;
        border-radius: 5px;
        margin-top: 5%;
        width: 30%;
    }
}

@media screen and (max-width:620px) {
    .box2 .link {
        display: none;
    }

    .main-cont {
        width: 90%;
        align-items: center;
    }

    .box-circle {
        display: none;
    }

    .cont-box1 {
        display: none;
    }

    .circle {
        justify-content: start;

    }

    .large-box{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        height: 400px;
    }
    .large-box .small-box{
        width: 500px;
    }

    .earning{
        margin-top: 2rem;
    }
    .large-box .small-box1{
        width: 500px;   
        align-items: center;
        justify-content: center;
        
    }
    .large-box1{
        display: none;
    }

    .one {
        margin: 3.8% 0px 0px 4%;
    }

    .box-text1 {
        text-align: start;
    }

    .box-text {
        justify-content: start;
    }

    .cont-box2 {
        width: 49%;
        align-items: center;
        justify-content: center;
    }

    .abc-box {
        width: 80%;
    }

    .menu-icon {
        display: flex;
    }

    .container {
        margin-top: 8rem;
    }

    .image {
        width: 500px;
        height: 400px;
    }
}

@media screen and (max-width:499px) {
    .header .box2 {
        display: flex;
    }
    .image{
        width: 90%;
    }
    .text{
        width: 90%;
    }
    .abc-text {
        width: 80%;
    }

    .box2 .link {
        display: none;
        color: rgb(0, 0, 0);
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding: 0px;
        margin: 0px;
    }

    .head-image {
        display: flex;
        width: 40px;
        height: 50px;
        flex-shrink: 0;
        position: relative;
    }

    .vector {
        position: absolute;
        top: 1rem;
        left: 6.8%;
        width: 20px;
        height: 3px;
    }

    .title-name {
        align-items: center;
        justify-content: center;
        width: 20%;
        padding: 0px;
        font-size: 13px;
        margin: 0px;
        margin-left: 2px;
    }

    .body {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container {
        margin-top: 8rem;
    }

    .download {
        color: black;
        font-size: 30.73px;
        font-weight: 800;
        line-height: 30.91px;
        word-wrap: break-word;
        width: 100%;
    }

    .line {
        color: #9E9DA2;
        font-size: 18px;
        font-weight: 400;
        line-height: 20px;
        word-wrap: break-word;
        margin-top: 3%;
        width: 100%;
    }

    .btn {
        display: flex;
        padding: 9px 7px;
        border-radius: .5rem;
        border: none;
        flex-direction: row;
        background-color: #000;
        font-family: 'Gilroy', sans-serif;
    }

    .down {
        font-size: 18px;
    }
    .main-box {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 3rem;
    }
    .sss-box {
        display: flex;
        border-radius: 5px;
        margin-top: 5%;
        width: 40%;
        flex-wrap: wrap;
    }

    .main-cont {
        display: none;
    }

    .main-cont1 {
        display: flex;
    }

}
@media screen and (max-width:410px){
    .btn{
        padding: 4px 4px;
    }
    .download{
        font-weight: 400px;
        font-size: 22px;
    }
    .down{
        font-weight: 400px;
        font-size: 12px;
    }
    .line{
        font-size: 16px;
    }.header{
        width: 100%;
    }
    .header .box1{
        width: 30%;
    }
    .header .box2{
        width: 20%;
    }
    .title-name img{
       height: 40px;
       width: 90px;
    }
}
@media screen and (max-width:630px) {
    .foot-box{
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
    }
    .foot-box1{
        width: 100%;
        align-items: center;
        justify-content: center;
       gap: 0px;
    }
    .foot-box2{
        width: 100%;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
       gap: 4px;
       margin: .3rem 0px;
    }

}